# dependencies
node_modules/
.pnp
.pnp.*

# build output
dist/
build/
.next/
.turbo/
out/

# env files
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# testing
coverage/

# typescript
*.tsbuildinfo
next-env.d.ts
